In [1]:
# IMPORTS
import pandas as pd

In [2]:
#  CARGA DATAFRAME ATRIBUTOS
df_origen = pd.read_excel('dfAtributosNormalizado.xlsx').drop('Unnamed: 0',axis=1)
df_origen.head()

,mlotst_0,zos_0,bottomT_0,thetao_0,so_0,uo_0,vo_0,mlotst_5,zos_5,bottomT_5,...,so_5,uo_5,vo_5,mlotst_10,zos_10,bottomT_10,thetao_10,so_10,uo_10,vo_10
0,0.458610,0.000988,0.118141,0.118195,0.308355,0.000322,-0.000739,0.458610,0.000988,0.118141,...,0.308355,0.000265,-0.000480,0.458610,0.000988,0.118141,0.118188,0.308355,0.000220,-0.000361
1,0.164661,0.000871,0.172151,0.171491,0.496668,0.001678,0.000577,0.164661,0.000871,0.172151,...,0.497028,0.001588,0.000505,0.164661,0.000871,0.172151,0.173624,0.496916,0.001371,0.000307
2,0.288358,0.001631,0.129202,0.163865,0.454569,0.000249,0.001145,0.288358,0.001631,0.129202,...,0.454569,0.000050,0.000805,0.288358,0.001631,0.129202,0.163875,0.454569,-0.000025,0.000631
3,0.291737,0.000740,0.165685,0.165637,0.439698,-0.000072,0.001038,0.291737,0.000740,0.165685,...,0.439698,-0.000386,0.000885,0.291737,0.000740,0.165685,0.165637,0.439698,-0.000555,0.000813
4,0.292609,0.000250,0.163246,0.163168,0.440952,-0.000646,0.000751,0.292609,0.000250,0.163246,...,0.440952,-0.000856,0.000557,0.292609,0.000250,0.163246,0.163178,0.440952,-0.000807,0.000484

In [3]:
#  CARGA DATAFRAME AVISTAMIENTOS
df_avistamientos = pd.read_excel('dfAvistamientos.xlsx').drop('Unnamed: 0',axis=1)
df_avistamientos.head()

,mlotst_0,zos_0,bottomT_0,thetao_0,so_0,uo_0,vo_0,mlotst_5,zos_5,bottomT_5,...,so_5,uo_5,vo_5,mlotst_10,zos_10,bottomT_10,thetao_10,so_10,uo_10,vo_10
0,0.458610,0.000988,0.118141,0.118195,0.308355,0.000322,-0.000739,0.458610,0.000988,0.118141,...,0.308355,0.000265,-0.000480,0.458610,0.000988,0.118141,0.118188,0.308355,0.000220,-0.000361
1,0.164661,0.000871,0.172151,0.171491,0.496668,0.001678,0.000577,0.164661,0.000871,0.172151,...,0.497028,0.001588,0.000505,0.164661,0.000871,0.172151,0.173624,0.496916,0.001371,0.000307
2,0.288358,0.001631,0.129202,0.163865,0.454569,0.000249,0.001145,0.288358,0.001631,0.129202,...,0.454569,0.000050,0.000805,0.288358,0.001631,0.129202,0.163875,0.454569,-0.000025,0.000631
3,0.291737,0.000740,0.165685,0.165637,0.439698,-0.000072,0.001038,0.291737,0.000740,0.165685,...,0.439698,-0.000386,0.000885,0.291737,0.000740,0.165685,0.165637,0.439698,-0.000555,0.000813
4,0.292609,0.000250,0.163246,0.163168,0.440952,-0.000646,0.000751,0.292609,0.000250,0.163246,...,0.440952,-0.000856,0.000557,0.292609,0.000250,0.163246,0.163178,0.440952,-0.000807,0.000484

In [4]:
# REGRESION LINEAL